<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<title>Add Attraction</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
rel="stylesheet">

<style>
body{
    background:#003566 ;
}

.container{
    background:#FFC8DD ;
    padding:30px;
    border-radius:15px;
    margin-top:50px;
    max-width:800px;
}

.heading{
text-align:center;
margin-bottom:25px;
font-weight:bold;
}

</style>

</head>

<body>

<div class="container">

<h2 class="heading">
Add Attraction
</h2>

<form action="/admin/saveAttraction"
method="post">

<div class="mb-3">

<label>Location</label>

<input type="text"
class="form-control"
name="location"
required
placeholder="enter where is the attraction located">

</div>

<div class="mb-3">

<label>Attraction Name</label>

<input type="text"
class="form-control"
name="attractionName"
required
placeholder="enter the name of the attraction">

</div>

<div class="mb-3">

<label>Description</label>

<textarea class="form-control"
rows="4"
name="description"
required
placeholder="enter the description of the attraction"></textarea>

</div>

<div class="mb-3">

<label>Image URL</label>

<input type="text"
class="form-control"
name="imageUrl"
placeholder="Paste image URL">

</div>

<button class="btn btn-success w-100">

Save Attraction

</button>

<a href="/attractions"
class="btn btn-primary mt-3 w-100">

View All Attractions

</a> 

</form>

</div>
<script th:if="${param.saved}">
alert("Attraction saved successfully!");
</script>


</body>
</html>